{% load static %}

<head>
    <title>Detecting Surprising Instances in a Process</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'detection/styles.css' %}"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'detection/new-styles.css' %}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://unpkg.com/panzoom@9.4.0/dist/panzoom.min.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<script src="{% static 'detection/script.js' %}"></script>
<!-- <script src="{% static 'detection/file-upload.js' %}"></script> -->

{% block content %}
{% endblock %}