{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Method Selection {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'jstable/jstable.css' %}" />
<script src="{% static 'jstable/jstable.min.js' %}"></script>
<script src='https://unpkg.com/panzoom@9.4.0/dist/panzoom.min.js'></script>
<script src='https://momentjs.com/downloads/moment.js'></script>
{% endblock stylesheets %}

{% block content %}

<div class="py-4">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
            <li class="breadcrumb-item">
                <a href="/">
                    <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                </a>
            </li>
            <li class="breadcrumb-item"><a href="/method_selection_similarity_graph">Method Selection</a></li>
        </ol>
    </nav>
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">Select a model to detect surprising instances</h1>
            <p class="mb-0">Attributes and rows from the event data</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-xl-8">
        <div class="card border-0 shadow mb-4">
            <div class="card-header d-sm-flex flex-row align-items-center flex-0">
                <div class="d-block mb-3 mb-sm-0">
                    <div class="fs-5 fw-normal mb-2">Process Model</div>
                    <h2 class="fs-3 fw-extrabold">{{ model_name }}</h2>
                    <div class="small mt-2"> 
                        <span class="fw-normal me-2">Average case duration: </span>
                        <span class="fas fa-angle-up text-success"></span>
                        <span class="text-success fw-bold">{{ avg_case_duration }}</span>                            
                    </div>
                </div>
                <div class="d-flex ms-auto">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit" id="pn" name="pn" class="btn {% if model_name == 'Petri-Net' %} btn-secondary {% endif %} text-dark btn-sm me-2">Petri-Net</button>
                        <button type="submit" id="bpmn" name="bpmn" class="btn {% if model_name == 'BPMN' %} btn-secondary {% endif %} btn-dark btn-sm me-3">BPMN</button>
                    </form>
                </div>
            </div>
            <div class="card-body p-2">
                <div class="container full" style="text-align: center;">
                    <div id="imagecontainer" style="overflow: hidden; resize: vertical;">
                        {% if model_name == 'Petri-Net' %}
                        <img id="imagemodel" src="{% static model_path %}" class="responsive" onclick="reloadimg()" alt="Model">
                        {% endif %}
                        {% if model_name == 'BPMN' %}
                        <img id="imagemodel" src="{% static model_path %}" class="responsive" onclick="reloadimg()" alt="Model">
                        {% endif %}
                    </div>
                </div>
                <!-- <div class="ct-chart-sales-value ct-double-octave ct-series-g"></div> -->
            </div>
        </div> 
        <div class="card border-0 shadow mb-4">
            <div class="card-header d-sm-flex flex-row align-items-center flex-0">
                <div class="d-block mb-3 mb-sm-0">
                    <div class="fs-5 fw-normal mb-2">Method Selection</div>
                    <h2 class="fs-3 fw-extrabold">Parameter Selection</h2>
                </div>
                <div class="d-flex ms-auto">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit" id="similarity_graph" name="similarity_graph" class="btn {% if selection_method == 'similarity_graph' %} btn-secondary {% endif %} text-dark btn-sm me-2">Similarity Graph</button>
                        <button type="submit" id="supervised_learning" name="supervised_learning" class="btn {% if selection_method == 'supervised_learning' %} btn-secondary {% endif %} btn-dark btn-sm me-3">Classification</button>
                        <button type="submit" id="random_walk" name="random_walk" class="btn {% if selection_method == 'random_walk' %} btn-secondary {% endif %} btn-dark btn-sm me-3">Clustering</button>
                    </form>
                </div>
            </div>
            <div class="card-body p-2">
                {% block method_parameters %}
                <span>Base Case</span>
                {% endblock method_parameters %}
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-4">
        <div class="card border-0 shadow mb-4">
            <div class="card-header d-sm-flex flex-row align-items-center flex-0">
                <div class="d-block mb-3 mb-sm-0">
                    <div class="fs-5 fw-normal mb-2">Case Variants</div>
                    <h2 class="fs-3 fw-extrabold">Filter Case Variants</h2>
                </div>
                <div class="ct-pie-chart-variants"></div>
                <div class="d-flex ms-auto">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-check">
                                <select class="form-select" id="variant_type" name="variant_type" onchange="this.form.submit()" aria-label="Select variant">
                                    <option value="most_common_variant" {% if variant_filter_strategy == 'most_common_variant' %} selected {% endif %}>Most common variant</option>
                                    <option value="least_common_variant" {% if variant_filter_strategy == 'least_common_variant' %} selected {% endif %}>Least common variant</option>
                                    <option value="longest_throughput_time" {% if variant_filter_strategy == 'longest_throughput_time' %} selected {% endif %}>Longest throughput time</option>
                                    <option value="shortest_throughput_time" {% if variant_filter_strategy == 'shortest_throughput_time' %} selected {% endif %}>Shortest throughput timet</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body">
                <div class="table-wrapper table-responsive">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Percentage</th>
                                    <th>Throughput Time</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for _, record in variants_pd_data.iterrows %} 
                                <tr id={{ record.0 }}> 
                                    <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="check-{{ record.0 }}" id="check-{{ record.0 }}" name="variantcheck-{{ record.0 }}" {% if record.0 in selected_variants %} checked {% endif %}>
                                        <label class="form-check-label" for="check-{{ record.0 }}">
                                            {{ record.0 }}
                                        </label>
                                    </div>
                                    </td>
                                    <td>
                                        <div class="row d-flex align-items-center">
                                            <div class="col-12 col-xl-4 px-0">
                                                <div class="small fw-bold">{{ record.1 }}</div>
                                            </div>
                                            <div class="col-12 col-xl-8 px-0 px-xl-1">
                                                <div class="progress progress-lg mb-0">
                                                    <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="{{ record.3 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ record.3 }}%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ record.2 }}</td>
                                    <!-- {% for value in record %} 
                                        <td>{{ value }}</td>
                                    {% endfor %} -->
                                </tr> 
                            {% endfor %} 
                            </tbody>
                        </table>
                        <div class="d-flex mt-4">
                            <button type="submit" id="filter_variants" name="filter_variants" class="btn btn-primary">Filter Variants</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card border-0 shadow mb-4">
    <div class="card-header d-sm-flex flex-row align-items-center flex-0">
        <div class="d-block mb-3 mb-sm-0">
            <h2 class="fs-3 fw-extrabold">Event Log Data</h2>
        </div>
    </div>
    <div class="card-body">
        <div class="table-wrapper table-responsive">
            <table class="table table-hover">
              <thead>
                  <tr>
                  {% for data in features_table_pd_data %} 
                      <th>{{ data }}</th> 
                  {% endfor %} 
                  </tr>
              </thead>
              <tbody>
              {% for _, record in features_table_pd_data.iterrows %} 
                  <tr> 
                      {% for value in record %} 
                          <td>{{ value }}</td> 
                      {% endfor %} 
                  </tr> 
              {% endfor %} 
              
              </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
      <nav aria-label="Page navigation example">
          <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <ul class="pagination mb-0">
                  <li class="page-item">
                      <button type="submit" id="Previous" name="Previous" class="page-link">Previous</button>
                  </li>
                  {% for item in features_table_page_list %} 
                  <li class="page-item {% if item == features_table_active_page %} active {% endif %}">
                      <button type="submit" id="{{ item }}" name="{{ item }}" class="page-link">{{ item }}</button>
                  </li>
                  {% endfor %}
                  <li class="page-item">
                      <button type="submit" id="Next" name="Next" class="page-link">Next</button>
                  </li>
              </ul>
          </form>
      </nav>
      <div class="fw-normal small mt-4 mt-lg-0">Showing <b> {{ features_table_offset_length }} </b> out of <b>{{ features_table_data_length }}</b> entries</div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    new JSTable("#example");
</script>
<script src="{% static 'detection/script.js' %}"></script>
<script>
piechart_data = {{ variantsdatapiechart }}
var data = {
    series: piechart_data
};
    
var sum = function(a, b) { return a + b };
    
new Chartist.Pie('.ct-pie-chart-variants', data, {
    showLabel: false,
    plugins: [
        Chartist.plugins.tooltip()
    ]
});
</script>
<script>
let i = document.getElementById('target_attribute_threshold');
let o = document.getElementById('caseDuration');

console.log(i)

var days = moment.duration(i.value, 'seconds');
var hhmmss = moment.utc(days.as('milliseconds')).format('HH:mm:ss');
var days = days.asDays();
var totalDays = Math.floor(days)
var timeResult = `${totalDays} day(s), ${hhmmss}`
o.innerHTML = timeResult;

// use 'change' instead to see the difference in response
i.addEventListener('input', function () {
    var days = moment.duration(i.value, 'seconds');
    var hhmmss = moment.utc(days.as('milliseconds')).format('HH:mm:ss');
    var days = days.asDays();
    var totalDays = Math.floor(days)
    var timeResult = `${totalDays} day(s), ${hhmmss}`
    console.log('Result: ' + timeResult)
    o.innerHTML = timeResult;
}, false);

/*function updateTime(newVal) {
    console.log('Setting value to ' + newVal)
    //var momentDuration = moment().add(newVal, 'seconds').format('DDDD [days] hh:mm:ss');
    var days = moment.duration(newVal, 'seconds');
    var hhmmss = moment.utc(days.as('milliseconds')).format('HH:mm:ss');
    var days = days.asDays();
    var totalDays = Math.floor(days)
    var timeResult = `${totalDays} day(s), ${hhmmss}`
    console.log('Result: ' + timeResult)
    var caseDurationLabel = document.getElementById("caseDuration");
    caseDurationLabel.innerHTML = timeResult;


    const remainingMillies= (newVal % 86400) * 1000;
    const formatted = `${Math.floor(newVal / 86400)} day(s) and ${moment.utc(remainingMillies).format('hh:mm:ss')}`;
    console.log(formatted);
    var m = moment().utcOffset(0);
    m.set({hour:0,minute:0,second:newVal,millisecond:0})
    var isoString = m.toISOString()
    var format = m.format('DDD [days] HH:mm:ss')
    console.log(format)
}*/

//updateTime({{ target_attribute_threshold }});
</script>
<script>
let selectedSituationType = document.getElementById('situation_type');
let situationActivityBlock = document.getElementById('div_situation_activity');

selectedSituationType.addEventListener('change', function () {
    var selectedSituationTypeValue = selectedSituationType.value;
    console.log(selectedSituationTypeValue)
    if (selectedSituationTypeValue === "case") {
        situationActivityBlock.classList.add("hidden");
    }
    else {
        situationActivityBlock.classList.remove("hidden");
    }
}, false);

var selectedSituationTypeValue = selectedSituationType.value;
if (selectedSituationTypeValue === "case") {
    situationActivityBlock.classList.add("hidden");
}
</script>
<script>
let selectedDetectorFunction = document.getElementById('detector_function');
let situationNumericalThresholdBlock = document.getElementById('div_numerical_threshold');

selectedDetectorFunction.addEventListener('change', function () {
    var selectedDetectorFunctionValue = selectedDetectorFunction.value;
    console.log(selectedDetectorFunctionValue)
    if (selectedDetectorFunctionValue === "boxplot") {
        situationNumericalThresholdBlock.classList.add("hidden");
    }
    else {
        situationNumericalThresholdBlock.classList.remove("hidden");
    }
}, false);

var selectedDetectorFunctionValue = selectedDetectorFunction.value;
if (selectedDetectorFunctionValue === "boxplot") {
    situationNumericalThresholdBlock.classList.add("hidden");
}
</script>


{% endblock javascripts %}
