{% extends "detection/method_selection.html" %}
{% load static %}

{% block title %} Select Parameters {% endblock %} 

{% block method_parameters %}
<!-- Form -->
<form method="POST">
    {% csrf_token %}
    <div class="mb-4">
        <label class="my-1 me-2" for="target_attribute">Performance Related Target Feature:</label>
        <select class="form-select" id="target_attribute" name="target_attribute"  aria-label="Performance related target attribute">
            {% for feature in feature_names %}
            <option name="{{ feature }}" value="{{ feature }}" {% if feature == target_attribute %} selected {% endif %}>{{ feature }}</option>
            {% endfor %} 
        </select>
    </div>
    <div class="mb-4">
        <label class="my-1 me-2" for="target_attribute_type">Target attribute type:</label>
        <select class="form-select" id="target_attribute_type" name="target_attribute_type"  aria-label="Target attribute type">
            <option name="categorical" value="categorical" {% if target_attribute_type == 'categorical' %} selected {% endif %}>Categorical</option>
            <option name="numerical" value="numerical" {% if target_attribute_type == 'numerical' %} selected {% endif %}>Numerical</option>
        </select>
    </div>
    <div class="mb-4">
        <label class="my-1 me-2" for="distance">Distance function:</label>
        <select class="form-select" id="similarity_graph_distance_function" name="similarity_graph_distance_function"  aria-label="Distance function">
            <option value="similarity_graph_distance_function_levenshtein" {% if supervised_learning_correlation_method == 'similarity_graph_distance_function_levenshtein' %} selected {% endif %}>Levenshtein distance</option>
            <option value="similarity_graph_distance_function_euclidean" {% if supervised_learning_correlation_method == 'similarity_graph_distance_function_euclidean' %} selected {% endif %}>Euclidean distance</option>
        </select>
    </div>
    <div class="mb-4">
        <label class="my-1 me-2" for="descriptive_attributes">Descriptive Features:</label>
        <select class="form-select" id="descriptive_attributes" name="descriptive_attributes" style="resize: vertical" aria-label="Descriptive attributes" multiple>
            {% for feature in feature_names %}
            <option name="{{ feature }}" value="{{ feature }}" {% if feature in selected_features %} selected {% endif %}>{{ feature }}</option>
            {% endfor %} 
        </select>
    </div>
    <div class="mb-4">
        <label class="my-1 me-2" for="similarity_graph_distance_max">Maximum distance:</label>
        <input type="number" id="similarity_graph_distance_max" name="similarity_graph_distance_max" min="1" max="10" value="{{ similarity_graph_distance_max }}">
    </div>
    <div>
        <div class="fs-5 fw-normal mb-2">Surprising Instance Detection</div>
        <div class="mb-4">
            <label class="my-1 me-2" for="detector_function">Detector function:</label>
            <select class="form-select" id="detector_function" name="detector_function"  aria-label="Detector function">
                <option name="boxplot" value="boxplot" {% if detector_function == 'boxplot' %} selected {% endif %}>Boxplot</option>
                <option name="threshold" value="threshold" {% if detector_function == 'threshold' %} selected {% endif %}>Threshold</option>
            </select>
        </div>
        <div class="mb-4" id="div_numerical_threshold">
            <label class="my-1 me-2" for="target_attribute_threshold">Numerical Threshold:</label>
            <input type="range" id="target_attribute_threshold" name="target_attribute_threshold" min="1" max="8550000" value="{{ target_attribute_threshold }}">
            <label id="caseDuration">2 days</label>
        </div>
    </div>
    <div class="d-flex">
        <button type="submit" id="submit_parameters_similarity_graph" name="submit_parameters_similarity_graph" class="btn btn-primary">Detect Surprising Instances</button>
    </div>
</form>
<!-- End of Form -->
{% endblock method_parameters %}

